body{
	background-color:#000000;
}

#a4{
	position:relative;
    width:832px;
	height:1020px;
	margin:auto;
	margin-top:20px;
	background-color:#ffffff;
    
}

#page{
	position:absolute;
	width:640px;
	height:755px;
	margin-left:96px;
	margin-top:50px;
}

#bloc {
	position:relative;
	width:640px;
	height:200px;	
}

#para{
	position:absolute;
	width:420px;
	height:168px;
	margin-top:0px;
}

#bloc p{
	position:relative;
	width:420px;
	padding-top:4px;
	padding-bottom:4px;
	margin-top:0px;
	margin-bottom:0px;
	font-family:georgian;
	font-size:1.1em;
}

#bloc img{
	position:absolute;
	width:150px;
	height:168px;
	margin-left:490px;
	margin-top:0px;
}

.suite{
	position:relative;
	width:640px;
	height:550px;
}

.suite h3{
	position:relative;
	width:640px;
	padding-top:10px;
	padding-bottom:10px;
	text-align:center;
	background-color:#ffff80;
}

.suite ul {
	list-style:none;
}

.para1 p{
	position:relative;
	width:640px;
	padding-top:4px;
	padding-bottom:4px;
	margin-top:0px;
	margin-bottom:4px;
	font-family:georgian;
	font-size:1.1em;
}